.expense-tracker-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.expense-tracker-title {
    font-family: 'cursive';
    font-weight: bold;
    text-align: left;
    width: 100%;
    padding-bottom: 20px;
}

.expense-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    gap: 10px;
    flex: 1;
}

.table-container table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.table-container th,
.table-container td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
    vertical-align: middle;
}

.table-container td:nth-child(5) {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-height: 50px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.page-size-selector {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 768px) {
    .expense-filter-container {
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }

    .filters {
        width: 100%;
    }

    .pagination-container {
        flex-direction: column;
        gap: 10px;
    }
}